<%= form_with model: @todo do |form| %>
  <div>
    <%= form.label :task %><br>
    <%= form.text_field :task %>
    <% @todo.errors.full_messages_for(:task).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :completed %><br>
    <%= form.check_box :completed %><br>
    <% @todo.errors.full_messages_for(:completed).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
  
<% end %>