
<div class="container" style="display: flex; flex-direction: row; align-items: baseline;">
<h1 class="title"><%= @todo.task %></h1>
<%# render if task is completed %>
<div style="">
<%= link_to "Edit", edit_todo_path(@todo) %>  <b>|</b> <%= link_to "Destroy", todo_path(@todo), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %> </div>
</div>

<%= render @todo.comments %>
<%= render 'comments/form' %>
